apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: taprav-fri
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: frontend
      version: blue
  template:
    metadata:
      labels:
        app: frontend
        version: blue
    spec:
      containers:
      - name: frontend
        image: ghcr.io/lejkosir/devops-hw-docker-frontend:sha-8c13a21
        ports:
        - containerPort: 3000
        env:
        - name: BACKEND_URL
          value: "http://backend/taprav-fri/api"
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 3
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 30
          timeoutSeconds: 5