apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: taprav-fri
type: Opaque
data:
  # Base64-encoded values. DO NOT commit actual secrets to git!
  # Use kubectl to create this secret instead (see README or create-secret.sh)
  mysql-root-password: <base64-encoded-root-password>
  mysql-user: <base64-encoded-user>
  mysql-password: <base64-encoded-password>
  mysql-database: <base64-encoded-database-name>
